<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975164494675-kj2kc6fujns5n9v82326p9mp2bpcdpni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975164494675-kj2kc6fujns5n9v82326p9mp2bpcdpni</string>
	<key>API_KEY</key>
	<string>AIzaSyAvQaTGkmgfZQtBQIuMble3zZ2jHlg4Xec</string>
	<key>GCM_SENDER_ID</key>
	<string>975164494675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mrxx7.FirebaseChatTutorial</string>
	<key>PROJECT_ID</key>
	<string>fir-chattutorial-e71bf</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chattutorial-e71bf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975164494675:ios:5438c43c5f15c32ad247a6</string>
</dict>
</plist>